/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ensure smooth transition */
html {
    scroll-behavior: smooth;
}

/* color theme */
h3 {
    /* font-weight: bold; */
    color:rgba(29, 126, 100, 0.8)
}

/* color theme */
h4 {
    font-weight: bold;
    color:#007355
}



/* header */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600px;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
}

/* -----cart items------ */

table {
    width: 100%;
}

/* title */
#blog-home {
    padding: 5% 0 3% 5%;
    /* border: #007355 1px solid; */
}

/* position underline correctly */
#blog-home h2 {
    position: relative; 
    display: inline-block; 
    color: #007355; 
}

/* underline title */
#blog-home h2::after {
    content: "";
    width: 80%; 
    height: 3px;
    background: #007355; 
    position: absolute;
    bottom: -9px; 
    left: 0;
}



/* entire container adjustment */
#cart-container {
    margin-left: 5%;
    height: 70%;
}

/* put side by side */
#together {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#cart-container table {
    border-collapse: collapse;
    width: 60%;
    table-layout: fixed;
    margin-bottom: 5%;
}



#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background-color: #007355;
    color: whitesmoke;
    border: none;
    padding: 0.5vw 0;
}

/* add border to td */
#cart-container table th,
#cart-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
    word-wrap: break-word;
    padding: 1rem;
}


#cart-container table td p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.684);
    visibility: hidden;
    padding: 7px;
}

/* change default */
.w-25 {
    width: 2.5rem;
}

/* fix btn */
#cart-container table td button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

/* remove */
#cart-container table td:nth-child(1){
    width: 4rem;
}

/* img & product*/
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 6rem;
}

/* show initially, larger screen */
#cart-container table td:nth-child(3) {
    display: table-cell;
}

/* price, quantity, & total */
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 6rem;
}

#cart-container table tbody td  {
    position: relative;
    display: table-cell;
}

/* product img */
#cart-container table tbody td img {
    width: 6.25rem;
    height: 5rem;
    object-fit: cover;
}

/* icon */
#cart-container table tbody span {
    color: #8d8c89;
}

/* ----- no items in cart ----- */

/* display when present */
#no-items {
    display: none;
}

#no-items div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: #007355 1px solid;
    /* width: 18%; */
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255);
    line-break: normal;
    line-height: 1.8rem;
}

/* match color theme */
#no-items h2 {
    color:rgba(29, 126, 100, 0.8);
    padding-bottom: 5px;
}

/* button */
.start {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
    padding: 0.5vw;
    transition: all 0.5s;
    cursor: pointer;
    border: palevioletred 2px solid;
}

/*----- footer----- */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    bottom: 0;
    width: 100%;

    /* not overlapping webbpage content */
    /* position: absolute; */
    /* z-index: 1; */
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* titles */
.title {
    /* text-align: left; */
    color: #007355;
    font-size: 24px;
}

/* same as header */
#socials {
    /* color: #98002e; */
    display: flex;
    justify-content: left;
}

/* same as header */
#socials li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* container for support */
.support {
    color: pink;
}

/* list */
ul {
    list-style: none; 
}

@media (max-width: 1350px){
    #cart-container table {
        width: 60%;
    }

    /* only allow text when hover over img */
    #cart-container table tbody td img:hover + p {
        visibility: visible;
    }

    /* show initially, larger screen */
    #cart-container table td:nth-child(3) {
        display: none;
    }

    #cart-container table td:nth-child(1){
        width: 2rem;
    }

    /* price, quantity, & total */
    #cart-container table td:nth-child(4),
    #cart-container table td:nth-child(5),
    #cart-container table td:nth-child(6){
        width: 3rem;
    }
}

/* buttons */
@media (max-width: 1100px){
    /* don't include in side bar */
    #lg-bag {
        display: none;
    }

    #cart-container table {
        width: 95%;
        margin-top: 2%;
    }

    #cart-container table thead td {
        font-size: 12px;
        margin: 2px;
    }

    #cart-container table td:nth-child(1){
        width: 3rem;
    }

    /* remove name */
    .cart-info p {
        display: none;
    }

    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
} 




