/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
}

/* Global style */
.hidden-heading {
    display: none;
}

/* ensure smooth transition */
html {
    scroll-behavior: smooth;
}

/* color theme */
h3 {
    color:rgba(29, 126, 100, 0.8);
}

/* color theme */
h4 {
    font-weight: bold;
    color:#007355
}



/* -----header----- */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    /* padding: 20px 80px; */
    background-color: whitesmoke;
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
}



/* -----cart items------ */
.table-responsive {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* space from borders */
.table {
    margin: 3rem 0;
    width: 80%;
}

/* enlarge heading */
thead th {
    font-size: 20px;
}

/* resize columns */
thead th:nth-child(1) {
    width: 20%;
}
thead th:nth-child(2) {
    width: 50%;
}
thead th:nth-child(3) {
    width: 20%;
}
thead th:nth-child(4) {
    width: 10%;
}

/* center text inside cell */
td:nth-child(3),
td:nth-child(4){
    align-items: center;
    padding-top: 3.25rem;
}

.remove-border {
    border: none;
    background: transparent;
    color: #8d8c89;
}

.close-out {
    padding-left: 2rem;
    /* padding-top: 4rem; */
}

/* change default */
.w-25 {
    min-width: 2.5rem;
}



/* ---- proceed to payment ---- */
/* space from item */
.payment {
    margin: 0 3rem 3rem 3rem;
    display: block;
}

/* center */
#grand-total {
    justify-content: center;
    align-items: center;
    display: inline;
    width: 60%;
    margin: 1rem auto;
}

/* bootstrap */
.col-sm-10,
.col-sm-2 {
    font-size: 1.2rem;
}

/* center everything to outside div */
#next-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* highlight */
.payment p {
    /* border: #007355 1px solid; */
    border-bottom: #007355 1px solid;
    /* color: white;
    background-color: rgba(29, 126, 100, 0.8); */
}

/* shop now button */
.payment .btn {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    color: white;
    background-color: rgba(29, 126, 100, 0.8);
    border: none;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.6rem;
    transition: all 0.5s;
    cursor: pointer;
    border: gray 1px solid;
    margin: 2rem 0;
}

/* no underline a href link */
.payment a {
    text-decoration: none;
}


/* indicate button */
.payment .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

/* add arrow */
.payment .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

/* align w/ text */
.payment .btn:hover span {
    padding-right: 25px;
}

/* color btn */
.payment .btn:hover span:after {
    opacity: 1;
    right: 0;
}


/* ----- no items in cart ----- */

/* display when present */
#no-items {
    display: none;
}

/* show div in center of screen */
#no-items div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: #007355 1px solid;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255);
    line-break: normal;
    line-height: 1.8rem;
}

/* match color theme */
#no-items h2 {
    color:rgba(29, 126, 100, 0.8);
    padding-bottom: 5px;
}

/* button */
.start {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
    padding: 0.5vw;
    transition: all 0.5s;
    cursor: pointer;
    border: palevioletred 2px solid;
}



/*----- footer----- */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    bottom: 0;
    width: 100%;
    padding: 1% 5%;
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* icons: phone and email */
.footer-col:nth-child(4){
    font-size: 1rem;
}

/* titles */
.title {
    color: #007355;
    font-size: 24px;
    line-height: 2rem;
}

/* keep text color theme */
.footer-col  > p {
    color: #007355;
}

/* same as header */
#socials {
    display: flex;
    justify-content: space-between;
}

/* same as header */
#socials li {
    list-style: none;
    position: relative;
}

/* list */
ul {
    list-style: none; 
}

/* last column */
#phone-number,
#email{
    text-transform: lowercase;
    font-size: 0.95rem;
}

/* larger screens */
@media (max-width: 1350px){
    /* proportion to the screen */
    #cart-container table {
        width: 60%;
    }

    /* only allow text when hover over img */
    #cart-container table tbody td img:hover + p {
        visibility: visible;
    }

    /* show initially, larger screen */
    #cart-container table td:nth-child(3) {
        display: none;
    }

    /* trash icon */
    #cart-container table td:nth-child(1){
        width: 2rem;
    }

    /* price, quantity, & total */
    #cart-container table td:nth-child(4),
    #cart-container table td:nth-child(5),
    #cart-container table td:nth-child(6){
        width: 3rem;
    }
}

/* mid size screen */
@media (max-width: 1100px){
    /* proportion to screen */
    #cart-container table {
        width: 95%;
        margin-top: 2%;
        font-size: 11px;
    }

    /* table header */
    #cart-container table thead td {
        font-size: 12px;
        margin: 2px;
    }

    /* table data */
    #cart-container table tbody td {
        font-size: 19px;
    }

    /* trash icon */
    #cart-container table td:nth-child(1){
        width: 3rem;
    }

    /* show initially, larger screen */
    #cart-container table td:nth-child(3) {
        display: none;
    }

    /* remove name */
    .cart-info p {
        display: none;
    }
} 

/* hamburger and 2x2 footer */
@media (max-width: 799px){
    /* position right */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ebf0f8;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.2s;
    }

    /* activate */
    #navbar.active {
        right: 0;
    }

    /* equal spacing as before */
    #navbar li {
        margin-bottom: 25px;
    }

    /* keep hamburger icon */
    #mobile {
        display: flex;
        align-items: center;
    }

    /* space between icons */
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    
    /* position side bar */
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }

    /* table data */
    #cart-container table tbody td h5 {
        font-size: 14px;
    }

    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
}

/* table width */
@media (max-width: 430px) {
    /* keep header and table same width */
    #header {
        padding: 1% 2%; 
        width: 100%; 
    }

    /* table data */
    #cart-container table tbody tr td h5 {
        font-size: 10px;
    }

    /* trash icon */
    #cart-container table td:nth-child(1){
        width: 3rem;
    }
    
    /* img & product*/
    #cart-container table td:nth-child(2){
        width: 6.5rem;
        padding-left: 1px;
    }
    
    /* price, quantity, & total */
    #cart-container table td:nth-child(4),
    #cart-container table td:nth-child(6){
        width: 3.25rem;
        font-size: 12px;
        padding-left: 5px;
    }

    /* quantity */
    #cart-container table td:nth-child(5) {
        width: 3rem;
    }

    /* change default */
    .w-25 {
        width: 1.3rem;
    }

    /* keep text on screen */
    .footer-col:nth-child(3) {
        width: 30%;
    }

    /* keep text on screen */
    .footer-col:nth-child(4) {
        width: 70%;
    }

    /* col titles */
    .footer-col .title {
        font-size: 1rem;
    }

    /* all col text */
    .footer-col p,
    .footer-col ul li a,
    .footer-col ul li span {
        font-size: 0.75rem;
    }

    /* last column */
    #phone-number,
    #email{
        text-transform: lowercase;
        font-size: 0.75rem;
    }
}



