@import url('https://forms.gle/x7KKeg2Bsw1TFbUbA');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.logo {
    width: 50%;
    height: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}

/* alt oages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each page link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* remove underline, change individual text */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    transition: 0.3 ease;
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #CC5500;
}

/* add bar below upon hovering over individual page*/
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #CC5500;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



