/* Global style */
.hidden-heading {
    display: none;
}

/* Formatting entire page contents */
body {
    width: 90%;
    margin: auto;
}

/* Header and logo */
header {
    size: 3rem;
    display: flex;
}

/* Hotel name */
h1 {
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

/* Hotel logo */
.logo img {
    width: 100%;
    max-width: 75px;
    height: auto;
    position: relative;
    right: 20px;
}

/* add alt-page links in header */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    margin-left: auto;
}

/* remove list components, only text */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

/* remove underline keep text color same for entire header */
nav ul li a {
    text-decoration: none;
    color: cadetblue;
}

/* hero main img */
/* .side-hero {
    margin: 0;
    padding: 0;

}

.side-hero img {
    width: 60%;
}

.about {
    color: rgb(124, 72, 3);
    font-size: 18px;
     float: left;
    width: 60%;
    padding: 5px;
    text-align: right;
} */


.container {
    display: flex;
    width: 100%;
    /* background-color: rgba(245, 222, 179, 0.552); */
    background-color: rgba(226, 221, 141, 0.196);
    border: 2px solid rgba(95, 158, 160, 0.584);
    padding: 2em 0 2em 0;
}

.image {
    width: 65%;
    box-sizing: border-box;
    padding: 20px; 
}

.text {
    width: 35%;
    box-sizing: border-box;
    padding: 2em 2em 0 0; 
    text-align: left;
    color: rgba(95, 158, 160);
}

img {
    max-width: 100%;
    height: auto;
}

.leave-review {
    text-align: center;
    font-size: 1.3rem;
    width: 30%;
    margin: 3em auto 3em;
}

.new-review {
    text-align: center;
    font-size: 1.3rem;
    width: 30%;
    margin: 3em auto;

    color: cadetblue;
    text-decoration: none;
    background-color: rgba(226, 221, 141, 0.196);
    border: 2px solid rgba(95, 158, 160, 0.584);
    padding: 1rem;
}

.new-review:hover {
    border: 3px solid rgba(95, 158, 160, 0.584);
}

.title {
    font-size: 1.7em;
}

/* flexbox reviews */
.user-reviews {
    display: flex;
    flex-wrap: wrap;
    padding: 4ems;
    background-color: rgba(226, 221, 141, 0.196);
    border: 2px solid rgba(95, 158, 160, 0.584);
}

.description {
    font-size: 1em;
}

/* format individual review box */
article > section {
    font-size: 16px;
    color: rgba(0, 139, 139, 0.9);
    margin: 20px;
    padding: 20px;
    width: 200px;
    /* add features for scrollability */
    height: 125px;
    overflow: auto; /* only if the content is overflowing will the scroll bar be shown */
    border: 3px solid rgba(0, 139, 139, 0.612);
    background-color: white;
}

/* format the stars at the top to fill width of div */
article > section > img {
    margin-top: 0%;
    height: 50px;
    width: auto;
}

/* have each name be in smaller font */
.reviewer-name {
    font-size: 14px;
}