/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
}

/* Global style */
.hidden-heading {
    display: none;
}

/* sub default to match theme */
h2 {
    font-size:46px;
    line-height: 54px;
}

/* universal */
h4 {
    font-weight: bold;
}

/* sub default to match theme */
p {
    font-size: 16px;
    margin: 15px 0 20px 0;
}



/* -----header----- */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
} 


/*  */
.img-description-join {
    margin-bottom: 20%;
}

/* -----toggle heart icon, material icons----- */

/* place heart on top of img */
.heart-tag, .heart-tag1 {
    position: absolute;
    padding: 15px;
    border-radius: 50px;
    color: rgb(40, 40, 40);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

/* screen reader, remove background */
button {
    background: none;
    border: none;
    padding: 0;
}

/* remove background on double click */
.heart-icon, #heart-icon1 {
    user-select: none;
    color: rgb(40, 40, 40);
    font-size: 20px;
}

/* fill in heart */
.heart-icon:hover, #heart-icon1:hover {
    color: #98002e;
    /* screen reader */
    text-decoration: underline;
}

/* bounce when clicked */
.heart-icon:active, #heart-icon1:active {
    transform: scale(0.96);
}

/* cohesive reponsive design */
.img-description-join {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    max-height: 1200px;
}

/* left */
.product-imgs {
    flex: 1; 
    margin-right: 20px;
    /* border: orange 1px solid; */
    max-width: 45%;
    position: relative;
}

/* product text */
#product-description {
    width: 65%;
    padding: 3em;
    /* border: orange 2px solid; */
}

/* link to other page */
#right {
    /* text-align: right; */
    border: pink 3px solid;
    /* margin-right: 5px */
    /* border-left: #007355 3px solid; */
}

/* long description */
#product-details {
    border: #0073543d 2px solid;
    width: 100%;
    height: auto;
    /* change to viewport */
    max-height: 58vw; 
    overflow-y: auto;
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
}

fieldset {
    padding-bottom: 3rem;
}

legend {
    font-weight: bold;
    font-size: 1rem;
}

.proj-notes {
    border-bottom: 1px solid #ddd;
    line-height: 1rem;
}


/* change-color */
.change-color {
    /* display: inline; */
    color: rgb(129, 129, 129);
    text-transform: capitalize;
    /* font-weight: bold; */
}

/* justify to page */
.polaroid {
    width: 60%;
    /* height: 90%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: 40px 45px; */
    margin: 4rem 7rem;
    /* for slider */
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* navigate next, slider */
.toggle-img button{
    /* border: black solid 1px; */
    height: 40px;
    width: 40px;
    position: absolute; 
    display: flex; 
    justify-content: center; 
    top: 50%;  /* center to img */
}

/* icons */
.pre-btn,
.nxt-btn,
#scroll-pre-btn,
#scroll-nxt-btn {
    border: none;
    width: 3vw;
    height: 7%;
    position: absolute;
    left: 100;
    display: flex;                      
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
    /* easier to read */
    background-color: rgba(255, 255, 255, 0.6);
}

/* change orientation */
.pre-btn,
#scroll-pre-btn {
    left: 5%;
    transform: rotate(180deg);
    transform: scaleX(-1);
}

/* keep right side */
.nxt-btn,
#scroll-nxt-btn {
    right: 5%;
}

/* screen reader */ 
.pre-btn:hover,
.nxt-btn:hover,
#scroll-pre-btn:hover,
#scroll-nxt-btn:hover {
    background-color: #007355;
    color: rgba(255, 255, 255, 0.8);
}

/* semi hero */
#main-img {
    width: 100%;
    height: auto;
    max-height: 760px;
}

/* attached to main img */
.product-name {
    text-align: center;
    padding: 10px 20px;
}



/* -----alternative imgs----- */

/* small alternative imgs */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    /* border: #98002e 8px solid; */
    margin-left: 6rem;
    position: absolute;
}

/* keep same number  */
.smallImg {
    margin: 5px;
    /* dynamic width = target - padding on either side */
    width: calc(25% - 10px);
    height: auto;
}

/* page folder */
h6 {
    color: rgba(128, 128, 128, 0.915);
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* fit color theme */
.fa-star{
    color: palevioletred;
}

/* fill in stars according to ratings */
.fas:nth-child(1){
    margin-left: 10px;
}

/* align the row */
#count, 
.buy-btn {
    vertical-align: bottom;
}

/* size to elements in row */
#count {
    width: 40px;
    /* match add to card btn */
    height: 2.7rem;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    padding-left: 5px;
}

/* quantity of item */
#count:focus {
    outline: none;
}

/* link to shopping cart */
.buy-btn {
    background-color: #0073543d;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
}


/* ------Alternative Products------- */

/* indiv products */
.pattern-reviews{
    margin-top: 10%;
}

.alt-product {
    margin-top: 2.5%;
}

.pattern-reviews,
.alt-product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

/* category name for scroll bar */
.product-category {
    margin-left: 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    /* for underline */
    display: inline-block;
    padding-bottom: 1px;
    position: relative;
    color: #007355;
}

/* underline title */
.product-category::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 1px;
    bottom: 5px;
    border-bottom: 2px solid #007355;
}

/* adj. products on same line */
.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* ignore visual scroll bar */
.product-container::-webkit-scrollbar {
    display: none;
}

/* space products */
.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: auto;
    margin-right: 40px;
}

/* img */
.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}



/* ------toggle heart icon, material icons------ */

/* place heart on top of img */
.heart-tag, .heart-tag1 {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: rgb(40, 40, 40);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

/* screen reader, remove background */
button {
    background: none;
    border: none;
    padding: 0;
}

/* remove background on double click */
.heart-icon, #heart-icon1 {
    user-select: none;
    color: rgb(40, 40, 40);
    font-size: 15px;
}

/* fill in heart */
.heart-icon:hover, #heart-icon1:hover {
    color: #98002e;
    /* screen reader */
    text-decoration: underline;
}

/* bounce when clicked */
.heart-icon:active, #heart-icon1:active {
    transform: scale(0.96);
}

/* center img */
.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* space for description */
.product-info {
    width: 100%;
    height: 120px;
    padding-top: 10px;
}

/* pattern owner */
.product-brand {
    text-transform: capitalize;
}

/* pattern name */
.product-short-description {
    text-transform: capitalize;
    overflow: hidden;
    float: left;
    color: #007354b7;
}

/* pattern price */
.price {
    font-weight: 700;
    font-size: 17px;
    float: right;
    color: #007354b7;
}

/* discounted price, if needed */
.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}






/* -----footer----- */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    bottom: 0;
    width: 100%;
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* titles */
.title {
    /* text-align: left; */
    color: #007355;
    font-size: 24px;
}

/* footer icons */
#socials {
    display: flex;
    justify-content: left;
}

/* space icons */
#socials li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* list */
ul {
    list-style: none; 
}

/* change case */
#email{
    text-transform: lowercase;
    font-size: 0.95rem;
}

/* medium */
@media screen and (max-width: 768px) {
    /* stack on top */
    .img-description-join {
        flex-direction: column; 
        max-height: 98%;
    }

    /* adjust margins */
    .product-imgs {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30vw; 
    }

    /* span one column */
    #product-description {
        width: 90%;
        height: 930px;
        text-transform: capitalize;
        margin: 11rem 0 0 1rem;
    }

    /* rights side */
    #product-description h6 {
        position: sticky;
        top: 0;
    }
    
    /* shorten lengthy text */
    #product-details {
        width: 100%;
        max-height: 80vw;
    }

    /* shrink to screen */
    #product-details  > p {
        font-size: 15px;
    }

    /* cut whitespace */
    footer {
        margin-top: 20vw;
    }
}


/* smaller */
@media screen and (max-width: 600px) {
    /* font size relative to others */
    #product-description p {
        font-size: 11px;
    }

    /* shorten lengthy text */
    #product-details {
        max-height: 90vw;
    }

    /* cut whitespace */
    footer {
        margin-top: 1vw;
    }
}

/* smallest */
@media screen and (max-width: 450px) {
    /* shorten lengthy text */
    #product-details {
        max-height: 120vw;
    }

    /* scroll bar spacing */
    .alt-product {
        margin-top: 2%;
    }

    /* category name for scroll bar */
    .product-category {
        font-size: 1.5rem;
    }

    /* cut whitespace */
    footer {
        margin-top: 1vw;
    }
}


/* header and footer */
@media (max-width: 799px){
    /* promo-text */
    h2 {
        font-size: 27px;
        line-height: 32px;
        color: #007355;
    }

    /* position right */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ebf0f8;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.2s;
    }

    /* activate */
    #navbar.active {
        right: 0;
    }

    /* equal spacing as before */
    #navbar li {
        margin-bottom: 25px;
    }

    /* keep hamburger icon */
    #mobile {
        display: flex;
        align-items: center;
    }

    /* space between icons */
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    
    /* position side bar */
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }

    /* account for spaccing below */
    #sales-text > h4 {
        padding-bottom: 10px;
    }

    /* shop now button */
    #hero button {
        display: inline-block;
        border-radius: 4px;
        background-color: white;
        border: none;
        color: #007355;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        transition: all 0.5s;
        cursor: pointer;
    }

    /* don't include in side bar */
    #lg-bag {
        display: none;
    }

    /* hero section */
    #hero {
        height: 50vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    /* entire div */
    #sales-text {
        width: 40%;
    }

    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
} 



