/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
}

/* Global style */
.hidden-heading {
    display: none;
}

/* ensure smooth transition */
html {
    scroll-behavior: smooth;
}

/* color theme */
h2 {
    color:rgba(29, 126, 100, 0.8);
}



/* -----header----- */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    /* padding: 20px 80px; */
    background-color: whitesmoke;
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
}



/* ----form container---- */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    /* side as auto -> centered */
    margin: 3rem auto;
    border: palevioletred 3px solid;
    background-color: #ebf0f8;
    width: 75%;
    padding-right: 0.8rem;
    border-radius: 10px;
    letter-spacing: 0.1em;
}

/* apply to both columns */
.billing-address,
.payment {
    box-sizing: border-box;
    padding: 1rem 0 0 1rem;
}

/* split each side */
.nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

/* space the divided cols */
#billing-right,
#payment-right {
    margin-left: 1rem;
}

/* container holding btn */
#submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* take up both .container cols */
    grid-column: span 2; 
    border-radius: 5px;
    border: rgba(29, 126, 100, 0.8) 3px solid;
    /* del double border */
    overflow: hidden;
    margin: 1rem;
}

/* connecting link */
#submit-container a {
    display: flex;
    text-decoration: none;
    /* fill entire space */
    width: 100%;
    height: 100%; 
}

/* button itself */
#pay {
    border: none;
    font-size: 20px;
    height: 100%;
    width: 100%;
    border: none;
    /* add here instead of submit-container to click anywhere */
    padding: 0.8rem 0;
    background: transparent;
    color:rgba(29, 126, 100, 0.8);
    font-weight: 800;
    cursor: pointer;
}

/* form inputs */
label {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.6;
    display: block;
}

/* placeholders */
input {
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.6rem;
}



/* -----footer----- */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: auto; */
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    margin-top: 10vw;
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* titles */
.title {
    /* text-align: left; */
    color: #007355;
    font-size: 24px;
}

/* keep text color theme */
.footer-col  > p {
    color: #007355;
}

/* align to column */
#socials {
    /* color: #98002e; */
    display: flex;
    justify-content: left;
}

/* organize like header */
#socials li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* list */
ul {
    list-style: none; 
}

/* change case */
#email{
    text-transform: lowercase;
}

/* header and footer */
@media (max-width: 799px){
    /* promo-text */
    h2 {
        font-size: 27px;
        line-height: 32px;
        color: #007355;
    }

    /* position right */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ebf0f8;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.2s;
    }

    /* activate */
    #navbar.active {
        right: 0;
    }

    /* equal spacing as before */
    #navbar li {
        margin-bottom: 25px;
    }

    /* keep hamburger icon */
    #mobile {
        display: flex;
        align-items: center;
    }

    /* space between icons */
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    
    /* position side bar */
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }

    /* account for spaccing below */
    #sales-text > h4 {
        padding-bottom: 10px;
    }

    /* side promo */
    #promo-text {
        color: #007355;
        -webkit-text-stroke-width: 0.5px;
        background-color: #ffffffc4;
        padding: 5px;
        border-radius: 7px;
        font-size: 13px;

        /* position separate form other text */
        position: absolute;
        margin-bottom: 27rem;
        margin-right: 3rem;
        right: 0;
        bottom: 0;
        
        /* wrap text */
        max-width: 170px;
    }

    /* shop now button */
    #hero button {
        display: inline-block;
        border-radius: 4px;
        background-color: white;
        border: none;
        color: #007355;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        transition: all 0.5s;
        cursor: pointer;
    }

    /* don't include in side bar */
    #lg-bag {
        display: none;
    }

    /* hero section */
    #hero {
        height: 50vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    /* entire div */
    #sales-text {
        width: 40%;
    }

    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
} 