/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ensure smooth transition */
html {
    scroll-behavior: smooth;
}

/* sub default to match theme */
h2 {
    /* font-size: 46px;
    line-height: 54px;
    color: #007355; */
}

/* color theme */
h3 {
    /* font-weight: bold; */
    color:rgba(29, 126, 100, 0.8)
}

/* color theme */
h4 {
    font-weight: bold;
    color:#007355
}

/* sub default to match theme */
p {
    /* font-size: 16px;
    margin: 15px 0 20px 0;
    color: #007355; */
    /* color: palevioletred; */
}



/* header */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600px;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
}

/* -----cart items------ */

/* #first {
    display: inline-block;
    width: 60%;
    border: #007355 1px solid;
}

#second {
    display: inline-block;
    width: 40%;
    border: #007355 1px solid;
} */

/* Container styles */
#poop {
    /* font-size: 0; Remove gaps between inline-block elements */
}

/* Container styles */
#table-container {
    font-size: 0; /* Remove gaps between inline-block elements */
    width: 80%;
    justify-content: space-around;
    /* justify-content: space-between; */
    margin: 0 auto;
    border: #007355 1px solid;
}

/* First div */
#main-table {
    display: inline-block;
    width: 55%;
    background-color: #f0f0f0;
    /* padding: 20px; */
    margin-right: 5%;
    text-align: center;
    font-size: 16px; /* Reset font-size */
}

/* Second div */
#side-table {
    display: inline-block;
    width: 40%;
    background-color: #d0d0d0;
    padding: 20px;
    /* margin: 10px; */
    text-align: center;
    font-size: 16px; /* Reset font-size */
}







/*----- footer----- */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    bottom: 0;
    width: 100%;

    /* not overlapping webbpage content */
    /* position: absolute; */
    z-index: 1;
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* titles */
.title {
    /* text-align: left; */
    color: #007355;
    font-size: 24px;
}

/* same as header */
#socials {
    /* color: #98002e; */
    display: flex;
    justify-content: left;
}

/* same as header */
#socials li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* container for support */
.support {
    color: pink;
}

/* list */
ul {
    list-style: none; 
}

/* buttons */
@media (max-width: 1100px){
    /* don't include in side bar */
    #lg-bag {
        display: none;
    }

    /* remove name */
    .cart-info p {
        display: none;
    }

    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
} 




