/* Global style */
.hidden-heading {
    display: none;
  }
  
  /* Formatting entire page contents */
  body {
    width: 90%;
    margin: auto;
  }
  
  /* Header and logo */
  header {
    size: 3rem;
    display: flex;
  }
  
  /* Hotel name */
  h1 {
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
  }
  
  /* Hotel logo */
  .logo img {
    width: 100%;
    max-width: 75px;
    height: auto;
    position: relative;
    right: 20px;
  }
  
  /* add alt-page links in header */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    margin-left: auto;
  }
  
  /* remove list components, only text */
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }
  
  /* remove underline keep text color same for entire header */
  nav ul li a {
    text-decoration: none;
    color: cadetblue;
  }
  
  /* form */
  .suite-booking-form {
    /* padding-left: 20px; */
    width: 80%;
    background-color: rgba(0, 128, 0, 0.123);
    padding: 3rem 1rem 1rem 3rem;
  }

  .suite-booking-form .form-group {
    margin-bottom: 1em;
  }
  
  /* have options on the same line */
  .radio-options label {
    display: inline;
  }

  /* make just hte width of the area code smaller for the phone number  */
  .phone-number input[type="text"][name="area_code"] {
    width: 1.8em; 
  }
  
  /* keep both aspects of the phone numebr on the same line */
  .phone-number {
    display: inline;
  }

  /* create blank space for the review, new line from comment*/
  .form-group input[name="review"] {
    width: 25em;
    height: 10em;
    display: block;
  }

  #terms{
    text-align: right;
    font-size: 0.9em;
    color: gray;

  }


  
  