/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ensure smooth transition */
html {
    scroll-behavior: smooth;
}

/* sub default to match theme */
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #007355;
}

/* color theme */
h3 {
    /* font-weight: bold; */
    color:rgba(29, 126, 100, 0.8)
}

/* color theme */
h4 {
    font-weight: bold;
    color:#007355
}

/* sub default to match theme */
p {
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #007355;
    /* color: palevioletred; */
}



/* header */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600px;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
}



/* start filter */
#start-search {
    width: 100%;
    display: flex;
    padding: 2% 5%;
    /* border: #007355 1px solid; */
    margin-bottom: 5%;
}

/* side bar */
.find-pattern-text {
    text-align: left;
    width: 40%;
    height: auto;
    border: #007355 2px solid;
    padding: 2rem;
    text-transform: capitalize;

    position: relative;
}

/* visual space */
.find-pattern-text h2 {
    margin-bottom: 2vw;
    border: #007355 2px solid;
}

/* visual space */
.find-pattern-text h3 {
    margin-bottom: 2px;
    border: #007355 2px solid;
}

/* visible for larger responsive screen */
.btn-start {
    border: #007355 3px solid;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 2rem 2rem;
    /* margin-top: 8rem; */
    height: auto;
}

/* stack */
.find-pattern-text span {
    display: flex;
    flex-direction: column;
    color: #007355;
    padding: 0.5vw;
}

/* change size */
icon-size {
    font-size: 2vw;
}

/* start pattern search */
.start {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
    padding: 1vw;
    transition: all 0.5s;
    cursor: pointer;
    border: palevioletred 2px solid;
}

/* match text with border */
.start span {
    color: palevioletred;
}



/* side advertising */
.product-advertising {
    width: 60%;
    flex-wrap: wrap;
}

/* visual quick shop */
.grid-container {
    display: grid;
    /* fr = fraction */
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem; 
    padding: 1rem;
    height: auto;

    border: paleturquoise 2px solid;
    position: relative;
}

/* flexbox to center */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    /* border: rgb(235, 233, 233) 1px solid; */
    color: #007355;
    text-transform: capitalize; 
    width: 100%;

    
}

/* responsive text position */
.grid-item p {
    text-align: center;
}

/* fix img to the div */
.grid-img {
    width: 100%;
    height: 100%;
    /* make the same height */
    display: block;
    object-fit: cover;
}

/* first question */
.categories {
    /* border: red 1px solid; */
    margin: 10% 0 10% 0;
}

/* next steps */
.instructions {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

/* reposition hyperlink */
#step1,
#step2,
#step3,
#step4{
    position: relative;
    top: -150px;
}

/* category options */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* border: purple 1px solid; */
}

/* keep same number  */
.product-card {
    margin-top: 20px;
    background-color: whitesmoke;
    border: #cfd4da 1px solid;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    width: 340px;
    transition: transform 0.3s ease-in-out; 
}

/* foreshadow */
.product-card:hover {
    /* border: whitesmoke 3px solid; */
    border: palevioletred 3px solid;
}

/* show when clicked on */
.selected,
.design,
.neckline {
    border: palevioletred 2px solid;
}



/* img */
.product-image {
    position: relative;
    width: 100%; 
    height: 350px;
}

/* center img */
.hover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* category */
.product-category {
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

/* position below option */
.next-question {
    display: flex;
    align-items: center; 
    /* border: #007355 1px solid; */
    margin: 0 auto;
    width: 15%;
    justify-content: space-between;
}

/* extra room for longer text */
.final-question {
    display: flex;
    align-items: center; 
    /* border: #007355 1px solid; */
    margin: 0 auto;
    width: 18%;
    justify-content: space-between;
}

/* format as other btns */
.toggle {
    display: inline-flex;
    border-radius: 4px;
    background-color: white;
    color: palevioletred;
    font-size: 1rem;
    /* padding: 1rem; */
    padding: 20px;
    cursor: pointer;
    border: palevioletred 1px solid;
}

/* account for size within div */
#small-button {
    margin-left: 15px;
    /* padding-left: 15px; */
    border: palevioletred 1px solid;
}

/* space arrow and text */
.toggle p {
    /* padding: 3px; */
    font-size: 20px;
    color: palevioletred;
}

/* remove default margin so same height */
.toggle p,
.toggle span {
    margin: 0; 
}

/* message user not selected option */
.not-selected {
    /* don't display unless needed */
    /* display: none; */
    /* visibility: visible; */
    visibility: hidden;

    display: flex;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #007355 2px solid;
    text-align: center;
    width: 18%;
    position: fixed;
    background-color: white;
    z-index: 100; 
    padding: 10px 0;
}

/* format to keep color theme */
.not-selected span {
    font-size: 20px;
    color: #007355;
    padding-left: 25px;
}

/* make inline, same as icon */
.not-selected p {
    margin: 0;
    font-size: 18px;
    padding-left: 10px;
}



/* footer */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    bottom: 0;
    width: 100%;

    /* not overlapping webbpage content */
    /* position: absolute; */
    z-index: 1;
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* titles */
.title {
    /* text-align: left; */
    color: #007355;
    font-size: 24px;
}

/* same as header */
#socials {
    /* color: #98002e; */
    display: flex;
    justify-content: left;
}

/* same as header */
#socials li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* container for support */
.support {
    color: pink;
}

/* list */
ul {
    list-style: none; 
}

/* buttons */
@media (max-width: 1400px){
    /* promo-text */
    h2 {
        font-size: 32px;
        line-height: 33px;
    }

    /* position height inline */
    .btn-start {
        margin-top: 7.5rem;
    }

    /* change size */
    .icon-size {
        font-size: 2vw;
    }

    /* start pattern search */
    .start {
        font-size: 1.3vw;
    }

    /* keep gap in-between */
    .next-question {
        width: 25%;
    }

    /* keep gap in-between */
    .final-question {
        width: 30%;
    }
}

/* buttons */
@media (max-width: 1100px){
    /* promo-text */
    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    /* position height inline */
    .btn-start {
        margin-top: 5rem;
    }

    /* keep gap in-between */
    .next-question {
        width: 40%;
    }

    /* keep gap in-between */
    .final-question {
        width: 45%;
    }
}


/* header and footer */
@media (max-width: 799px){
    /* promo-text */
    h2 {
        font-size: 22px;
        line-height: 27px;
    }

    /* position right */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ebf0f8;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.2s;
    }

    /* activate */
    #navbar.active {
        right: 0;
    }

    /* equal spacing as before */
    #navbar li {
        margin-bottom: 25px;
    }

    /* keep hamburger icon */
    #mobile {
        display: flex;
        align-items: center;
    }

    /* space between icons */
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    
    /* position side bar */
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }

    /* side bar */
    .find-pattern-text {
        padding: 5rem 2rem 0rem 1rem;
    }

    /* visual space */
    .find-pattern-text h2,
    .find-pattern-text h3 {
        max-width: 230px;
        margin-left: 1.2rem;
    }

    /* keep smaller than main */
    .find-pattern-text h3 {
        font-size: 1rem;
    }

    /* position relative to container */
    .btn-start {
        margin: 0 0 3rem 2.5rem;
    }

    /* change size */
    .icon-size {
        font-size: 3vw;
    }

    /* start pattern search */
    .start {
        font-size: 2vw;
    }

    /* keep gap in-between */
    .next-question {
        width: 50%;
    }

    /* keep gap in-between */
    .final-question {
        width: 60%;
    }

    /* don't include in side bar */
    #lg-bag {
        display: none;
    }

        
    /* visual quick shop */
    .grid-container {
        transform: translate(50%);
        width: 170px;
    }

    .responsive-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .responsive-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .responsive-item:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .responsive-item:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .responsive-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .responsive-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .responsive-item:nth-child(7) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .responsive-item:nth-child(8) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }





    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
} 

/* main text */
@media (max-width: 500px) {
    /* side bar */
    .find-pattern-text {
        padding: 1rem;
    }
}



