/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* sub default to match theme */
h2 {
    font-size:46px;
    line-height: 54px;
    color: #007355;
}

h4 {
    font-weight: bold;
    color:#007355
}

/* sub default to match theme */
p {
    font-size: 16px;
    margin: 15px 0 20px 0;
    /* color: #fff; */
    color: #007355;
}



/* header */

/* nav links */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    /* transition */ 
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09); 
    /* insure it's always in front, higher number for other elements */
    z-index: 10; 
    position: sticky;
    top: 0;
    left: 0;
}

/* fill to left side */
.logo {
    width: 50%;
    height: auto;
}

/* alt pages on same row */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove bullets and space each nav link */
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* not have best selling wrap */
    flex: 0 0 auto;
}

/* remove underline, change text color */
#navbar li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600px;
    color: black;
    transition: 0.3 ease; 
}

/* color text */
#navbar li a:hover,
#navbar li a.active {
    color: #007355;
}

/* add underline on nav link */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #007355;
    position: absolute;
    /* correct underline position */
    bottom: -4px;
    left: 20px;
}

/* hide nav when below a width */
#mobile {
    display: none;
    align-items: center;
}

/* don't display in computer layout */
#close {
    display: none;
}



/* small alternative imgs */
.product {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #00735428; */
    justify-content: center;
    margin: 2% 0;
}

/* keep same number  */
.product-card {
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    /* border: #cfd4da 1px solid; */
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 1000px;

    transition: transform 0.3s ease-in-out; 
}



/* img */
.product-image {
    position: relative;
    width: 100%; 
    /* height: auto; */
    height: 350px;
    overflow: hidden;
}

/* toggle heart icon, material icons */

/* place heart on top of img */
.heart-tag, .heart-tag1 {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: rgb(40, 40, 40);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

/* screen reader, remove background */
button {
    background: none;
    border: none;
    padding: 0;
}

/* remove background on double click */
.heart-icon, #heart-icon1 {
    user-select: none;
    color: rgb(40, 40, 40);
    font-size: 15px;
}

/* fill in heart */
.heart-icon:hover, #heart-icon1:hover {
    color: #98002e;
    /* screen reader */
    text-decoration: underline;
}

/* bounce when clicked */
.heart-icon:active, #heart-icon1:active {
    transform: scale(0.96);
}

/* center img */
.hover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* space for description */
.product-info {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    line-height: 1.5;
}

/* pattern owner */
.product-brand {
    text-transform: capitalize;
    /* margin: 2px; */
    /* text-transform: uppercase; */
}

/* pattern name */
.product-short-description {
    text-transform: capitalize;
    overflow: hidden;
    float: left;
    color: #007355;
}

/* screen reader */
.product-short-description:hover {
    text-decoration: underline;
}

/* pattern price */
.price {
    font-weight: 700;
    font-size: 17px;
    float: right;
    color: #007355;
}

/* discounted price, if needed */
.actual-price {
    margin-left: 1rem;
    opacity: 0.5;
    text-decoration: line-through;
}

/* footer */

/* block */
footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8; /* spacing btw lines */
    text-transform: capitalize;
    background-color: whitesmoke;
    /* background-color: #ebf0f8; */
    bottom: 0;
    width: 100%;
}

/* space cols */
.footer-col {
    width: 25%;
    color: palevioletred;
    padding: 3rem;
}

/* titles */
.title {
    /* text-align: left; */
    color: #007355;
    font-size: 24px;
}

#socials {
    /* color: #98002e; */
    display: flex;
    justify-content: left;
}

#socials li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.featured {
    color: pink;
}

/* list */
ul {
    list-style: none; 
}



/* header and footer */
@media (max-width: 799px){
    /* promo-text */
    h2 {
        font-size: 27px;
        line-height: 32px;
        color: #007355;
    }

    /* position right */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ebf0f8;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.2s;
    }

    /* activate */
    #navbar.active {
        right: 0;
    }

    /* equal spacing as before */
    #navbar li {
        margin-bottom: 25px;
    }

    /* keep hamburger icon */
    #mobile {
        display: flex;
        align-items: center;
    }

    /* space between icons */
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    
    /* position side bar */
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30ppx;
        color: black;
        font-size: 24px;
    }

    /* account for spaccing below */
    #sales-text > h4 {
        padding-bottom: 10px;
    }

    /* side promo */
    #promo-text {
        color: #007355;
        -webkit-text-stroke-width: 0.5px;
        background-color: #ffffffc4;
        padding: 5px;
        border-radius: 7px;
        font-size: 13px;

        /* position separate form other text */
        position: absolute;
        margin-bottom: 27rem;
        margin-right: 3rem;
        right: 0;
        bottom: 0;
        
        /* wrap text */
        max-width: 170px;
    }

    /* shop now button */
    #hero button {
        display: inline-block;
        border-radius: 4px;
        background-color: white;
        border: none;
        color: #007355;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        transition: all 0.5s;
        cursor: pointer;
    }

    /* don't include in side bar */
    #lg-bag {
        display: none;
    }

    /* hero section */
    #hero {
        height: 50vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    /* entire div */
    #sales-text {
        /* border: #007355 2px solid; */
        width: 40%;
    }

    /* dynamic */
    .footer-col {
        width: 50%;
        margin-bottom: 5px;
        text-align: center;
    }

    /* dynamic */
    .footer-col h4::before {
        all: unset;
    }

    /* legable footer text */
    .footer-col .title {
        font-size: 20px;
    }

    /* text for last col */
    .footer-col .info li a {
        font-size: 12px;
    }
} 



